*{box-sizing: border-box;}
html, body{height: 100%;}
body
{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000;
    background: rgb(210, 228, 238);

}
.app
{
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 24px;
}
.qr-card
{
    width: 320px;
    background: #fff;
    border-radius: 24px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.qr-wrap
{
    background: rgb(116, 116, 235);
    border-radius: 10px;
    padding: 20px;
}
.qr
{
    width: 100%;
    text-align: center;
    display: block;
    border-radius: 8px;
}
.title
{
    font-size: 1.25rem;
    line-height: 1.25;
    margin: 20px 0px 12px;
    text-align: center;
    font-weight: 800;
}
.sub
{
    margin: 0 12px;
    text-align: center;
    color: #000;
    font-size: .95rem;
}